<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://www.saucedemo.com/"/>
		<add key="InventoryPageUrl" value="https://www.saucedemo.com/inventory.html"/>
		<add key="CartPage" value="https://www.saucedemo.com/cart.html"/>
		<add key="UserName" value="standard_user"/>
		<add key="Password" value="secret_sauce"/>
	</appSettings>
</configuration>